@import (reference) "thumb-sprites.less";
.self .thumbnail, .thumbnail {
	background: url(%%thumbnails%%) no-repeat;
	width: 100px;
	height: 70px;
	padding: 0;
	.sprite-position(@csgo)!important;
	> img {
		display: none;
	}
}
.self .thumbnail[href*="counterpit"] {
	.sprite-position(@counterpit)!important;
}
.self .thumbnail[href*="dreamhack"] {
	.sprite-position(@dreamhack)!important;
}
.self .thumbnail[href*="ecs"] {
	.sprite-position(@ecs)!important;
}
.self .thumbnail[href*="eleague"] {
	.sprite-position(@eleague)!important;
}
.self .thumbnail[href*="esea"] {
	.sprite-position(@esea)!important;
}
.self .thumbnail[href*="esl"] {
	.sprite-position(@esl)!important;
}
.self .thumbnail[href*="esl_one"] {
	.sprite-position(@esl-one)!important;
}
.self .thumbnail[href*="eswc"] {
	.sprite-position(@eswc)!important;
}
.self .thumbnail[href*="faceit"] {
	.sprite-position(@faceit)!important;
}
.self .thumbnail[href*="fragbite"] {
	.sprite-position(@fragbite)!important;
}
.self .thumbnail[href*="gfinity"] {
	.sprite-position(@gfinity)!important;
}
.self .thumbnail[href*="htc"] {
	.sprite-position(@htc)!important;
}
.self .thumbnail[href*="ibuypower"] {
	.sprite-position(@ibuypower)!important;
}
.self .thumbnail[href*="iem"] {
	.sprite-position(@iem)!important;
}
.self .thumbnail[href*="mlg"] {
	.sprite-position(@mlg)!important;
}
.self .thumbnail[href*="nanyang"] {
	.sprite-position(@nanyang)!important;
}
.self .thumbnail[href*="pgl"] {
	.sprite-position(@pgl)!important;
}
.self .thumbnail[href*="starladder"] {
	.sprite-position(@starladder)!important;
}
.self .thumbnail[href*="winout"] {
	.sprite-position(@winout)!important;
}
.self .thumbnail[href*="1vs1"] {
	.sprite-position(@1v1)!important;
}
